<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pcy.study.server.mapper.CommentMapper">

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id"
            parameterType="pcy.study.server.domain.Comment">
    <![CDATA[
        INSERT INTO comment ( postId
                            , contents
                            , subCommentId)
        VALUES ( #{postId}
               , #{contents}
               , #{subCommentId})
    ]]>
    </insert>

    <select id="findById" resultType="pcy.study.server.domain.Comment">
    <![CDATA[
        SELECT id
             , postId
             , contents
             , subCommentId
        FROM comment
        WHERE id = #{id}
    ]]>
    </select>

    <update id="updateComment" parameterType="pcy.study.server.domain.Comment">
    <![CDATA[
        UPDATE comment
        SET contents = #{contents}
        WHERE id = #{id}
    ]]>
    </update>

    <delete id="deleteComment">
    <![CDATA[
        DELETE
        FROM comment
        WHERE id = #{id}
    ]]>
    </delete>

    <delete id="deleteCommentByPostId">
    <![CDATA[
        DELETE
        FROM comment
        WHERE postId = #{postId}
    ]]>
    </delete>

</mapper>
